/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.toggle-search-btn {
		a {
			display: inline-block;
		}
	}
	.footer-widget {
		flex-basis: 50%;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.toggle-search-btn {
		a {
			display: inline-block;
		}
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.toggle-search-btn {
		a {
			display: none;
		}
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
	.item.testimonial-item {
		margin: 0 auto;
	}
	.item.testimonial-item {
		margin-left: 45px;
	}

	.blog-img {
		width: unset;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}